{% extends "core/base.html" %}
{% load static %}

{% block content %}
  <section class="container mt-5 block titledesc">
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'core\img\persona-posando-junto-companeros-trabajo_23-2148985482.avif' %}" class="img-thumbnail btn-design2" style="height: 300px; margin-top: 20px"/>
        <p>Vanessa Matta</p>
      </div>
      <div class="col-md-4">
        <img src="{% static 'core\img\persona-posando-junto-companeros-trabajo_23-2148985478.avif' %}" class="img-thumbnail btn-design2" style="height: 300px; margin-top: 20px"/>
        <p>Felipe Vega</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-8">
        <h2>¿Quiénes somos?</h2>
        <p >
          En SUPER GAMES, somos apasionados por los videojuegos. Desde nuestra fundación, nos hemos dedicado a 
          proporcionar a nuestra comunidad una experiencia única y emocionante en el mundo de los juegos.
        </p>
        <p >
          Con un equipo diverso y talentoso de jugadores, desarrolladores y entusiastas de los videojuegos, 
          nos esforzamos por ser tu destino definitivo para todo lo relacionado con el emocionante universo de los videojuegos.
        </p>
        <h3>Nuestra Misión</h3>
        <p >
          Nuestra misión es simple pero poderosa: queremos conectar a los jugadores de todas partes,
           independientemente de su experiencia o habilidad, y crear un espacio donde puedan disfrutar,
            aprender y crecer juntos. Nos comprometemos a proporcionar contenido de calidad, análisis imparciales y 
            noticias de última hora para mantenerte informado sobre todo lo relacionado con la industria de los videojuegos.
        </p>
        <h3>Lo Que Ofrecemos</h3>

        <br><br>
      
    <p>
      En SUPER GAMES, ofrecemos una amplia gama de servicios y recursos para
      satisfacer las necesidades de nuestra comunidad de jugadores:
    </p>

    <p>
      Reseñas y Análisis: Nuestro equipo de expertos proporciona reseñas detalladas
      y análisis exhaustivos de los últimos lanzamientos y clásicos atemporales para
      ayudarte a tomar decisiones informadas sobre tus próximas aventuras de juego.
    </p>

    <p>
      Noticias y Actualizaciones: Mantente al día con las últimas noticias, anuncios
      y actualizaciones de la industria de los videojuegos con nuestro contenido
      fresco y relevante.
    </p>

    <p>
      Guías y Consejos: Ya sea que estés buscando consejos para mejorar en tu juego
      favorito o necesites ayuda para superar un nivel difícil, nuestras guías y
      consejos están aquí para ayudarte a alcanzar tus objetivos.
    </p>

    <p>
      Comunidad Activa: Únete a una comunidad vibrante y activa de jugadores de todo
      el mundo. Participa en discusiones, comparte tus experiencias y haz nuevos
      amigos mientras exploras el mundo de los videojuegos juntos.
    </p>

    <br><br>

    <h3>Únete a Nosotros</h3>

    <p>
      Ya seas un jugador casual, un profesional competitivo o simplemente un entusiasta de los videojuegos, te invitamos a unirte a nosotros en TIENDA SUPER GAMES. Juntos, podemos hacer del mundo de los videojuegos un lugar más emocionante, inclusivo y divertido para todos.
    </p>

    <div class="bienvenido">
      <p>
        ¡Bienvenido a SUPER GAMES - Donde la aventura nunca termina!
      </p>
    </div>
  </section>
{% endblock content %}