{% extends "core/base.html" %} {% load static %} {% load custom_filters %} 
{% block content %}
<div>
  <h1>Mantenedor de Productos</h1>
</div>

<div class="container">
  <div class="col-10" style="margin: auto">
    <form id="form" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <table
        class="table tableinfo"
        style="border-radius: 10px; overflow: hidden; width: 90%; margin: auto"
      >
        <tr class="row">
          <td
            class="col text-wrap overflow-hidden"
            style="border-bottom: none; vertical-align: top; text-align: left"
          >
            <div style="margin: 10px 0px 0px 20px">
              <div class="row mb-3">{{ form|as_bootstrap_form }}</div>
            </div>
          </td>
          <td class="col-4" style="vertical-align: top">
            <div class="row mb-2" style="margin: 10px 0px 0px 0px">
              <div class="mb-2 text-center">
                {% if form.imagen.value %}
                <img
                  id="cuadro-imagen"
                  src="/media/{{ form.imagen.value }}"
                  style="width: 250px; height: auto; object-fit: cover"
                />
                {% else %}
                <img
                  id="cuadro-imagen"
                  src="{% static 'core\img\images (1).png' %}"
                  style="width: 250px; height: auto; object-fit: cover"
                />
                {% endif %}
              </div>
            </div>
          </td>
        </tr>
      </table>

      <div class="mt-2 mb-3 text-center">
        <input
          class="btn btn-success btn-lg btn-design1"
          type="submit"
          value="Guardar"
        />
        <a
          class="btn btn-warning btn-lg btn-design1 ms-3"
          style="margin-right: 15px; font-style: normal"
          href="{% url 'productos' 'crear' '0' %}"
        >
          Nuevo
        </a>
        <button
          class="btn btn-primary btn-lg btn-design1"
          onclick="event.preventDefault(); document.getElementById('id_imagen').click();"
        >
          Seleccionar imagen
        </button>
        {% if form.instance.id %}
        <a
          class="btn btn-danger btn-lg btn-design1 ms-3"
          href="{% url 'productos' 'eliminar' form.instance.id %}"
          style="font-style: normal"
        >
          Eliminar
        </a>
        {% endif %}
      </div>
    </form>
  </div>
</div>
<div class="container mt-5">
  <table
    id="tabla-principal"
    class="table table-hover"
    style="border-radius: 10px; overflow: hidden"
  >
    <thead>
      <tr>
        <th style="text-align: center; width: 5%">ID</th>
        <th style="text-align: center; width: 10%">Categoría</th>
        <th style="text-align: center; width: 20%">Nombre</th>
        <th style="text-align: center; width: 25%">Descripción</th>
        <th style="text-align: center; width: 10%">Precio</th>
        <th style="text-align: center; width: 5%; font-size: 10px">Subs (%)</th>
        <th style="text-align: center; width: 5%; font-size: 10px">
          Oferta (%)
        </th>
        <th style="text-align: center; width: 5%">Imagen</th>
        <th style="text-align: center; width: 5%">Editar</th>
        <th style="text-align: center; width: 10%">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <td>{{ producto.id }}</td>
        <td>{{ producto.categoria }}</td>
        <td>{{ producto.nombre }}</td>
        <td style="font-size: 12px; word-break: break-all">
          {{ producto.descripcion }}
        </td>
        <td style="text-align: right">
          {{ producto.precio|formatear_dinero }}
        </td>
        <td style="text-align: center">
          {{ producto.descuento_subscriptor|formatear_porcentaje }}
        </td>
        <td style="text-align: right">
          {{ producto.descuento_oferta|formatear_porcentaje }}
        </td>
        <td style="text-align: center">
          <img
            src="/media/{{ producto.imagen }}"
            class="img-thumbnail btn-design2"
            style="max-height: 75px"
            \
          />
        </td>
        <td style="text-align: center">
          <a
            href="{% url 'productos' 'actualizar' producto.id %}"
            class="btn btn-sm btn-primary btn-design3"
            style="font-style: normal"
          >
            Editar
          </a>
        </td>
        <td style="text-align: center">
          <form method="delete">
            <a
              href="{% url 'productos' 'eliminar' producto.id %}"
              class="btn btn-sm btn-danger btn-design3"
              style="font-style: normal"
            >
              Eliminar
            </a>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %} {% block script %}
<script src="{% static 'core/js/productos.js' %}"></script>
{% endblock script %}
